// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);

// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


$v-font-size: 14px;

@import "../valo/valo.scss";

@mixin default {
  @include valo;
  
  $background-color-1: #444444;
  $color-1: #ffffff;
  $background-color-2: #DEE4EA;

  .header {
  	color: $color-1;
  	background-color: $background-color-1;
  	padding: 10px;  	
  }
  
  .headline {    
  	font-size: 24px;  	
  	font-weight: bold;
  }
  
  .nav {
  	background-color: $background-color-2;
  	border-right: 1px solid silver;
	width: 250px;
	height: 100%;
	padding: 10px;
  }
  
  .nav-item {
  	display: block;
  	margin-bottom: 5px;
  }
  
  .content {
  }
  
  .footer {
  	background-color: $background-color-1;
  	color: $color-1;
  	padding: 10px;
  	width: 100%;  	
  }
  
  .view-header {
  	font-weight: bold;
  	padding: 10px;
  	width: 100%;
  }
  
  .view-content {
  	padding: 10px !important;
  }
  
  .v-panel.view-content {
  	border-radius: 0px;
  	border-left: 0px;
  	border-right: 0px;
  }
  
  .view-footer {
  	padding: 10px;
  	height: 50px;
  	width: 100%;
  }
}
